.app{
  width: 400px;
  border: 0.5px solid black;
  margin: 20px auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid black;
  padding: 10px 20px;
}
.list{
  background-color: #f0f0f0;
}
.file-image{
  width: 20px;
  height: 20px;
}
.action{
  padding-right: 3px;
  cursor: pointer;
}
.list-item-container{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.list-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}